<div id="page-container">
    <app-myheader></app-myheader>
    <div id="content-wrap" >
        <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-1">
                <!--empty-->
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
				<app-partneri *ngIf="ulogovaniTip!='zaposleni'"></app-partneri>
                <app-meni-zaposleni *ngIf="ulogovaniTip=='zaposleni'"></app-meni-zaposleni>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 justify-content-center text-center">
                <br>
                <h4>Пројекти</h4><br>
                <br>
                <h5>Предлог тема за израду дипломских радова</h5><br>
                <ul>
                    <li>Мобилна апликација за праћење информација о поридичном стаблу - <a>др Захарије Радивојевић, ванредни професор</a></li>
                    <li>Већи број тема за мобилне апликације за навођење у затвореном простору- <a>др Захарије Радивојевић, ванредни професор</a></li>
                    <li>Препознавање понашања корисника на основу потрошње батерије мобилног уређаја - <a>др Захарије Радивојевић, ванредни професор</a></li>
                    <li> Асемблер за за архитектуру pico RISC - <a>др Драган Милићев, редовни професор</a></li>
                    <li> Виртуелна лабораторија за роботику  - <a>проф. др Бошко Николић</a>, <a>доц. др Дражен Драшковић</a></li>
                </ul>

                <h5>Предлог тема за израду мастер радова</h5><br>
                <ul>
                    <li>Lorem ipsum  - <a>др Захарије Радивојевић, ванредни професор</a></li>
                    <li>Lorem ipsum</li>
                    <li>Lorem ipsum - <a>др Захарије Радивојевић, ванредни професор</a></li>
                    <li> Lorem ipsum - <a>др Драган Милићев, редовни професор</a></li>
                    <li> Lorem ipsum - <a>проф. др Бошко Николић</a>, <a>доц. др Дражен Драшковић</a></li>
                </ul>
            </div>
        </div>       
    </div>
    <app-myfooter></app-myfooter>
</div>