<div id="page-container">
    <app-myheader></app-myheader>
    <div id="content-wrap" >
        <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-1">
                <!--empty-->
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
				<app-partneri *ngIf="ulogovaniTip!='zaposleni'"></app-partneri>
                <app-meni-zaposleni *ngIf="ulogovaniTip=='zaposleni'"></app-meni-zaposleni>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 justify-content-center text-center">
                <h4><b>Додавање вести</b></h4>
                <br>
                <table>
                    <tr>
                        <td>Категорија вести:</td>
                        <td>
                            <select  [(ngModel)]="vest.kategorija">
                                <option value="{{pr.sifra}}" *ngFor="let pr of mojiPredmetiNiz"> {{prevedi(pr.naziv)}} - {{prevedi(pr.sifra)}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Нaслов вести:</td>
                        <td>
                            <input type="text" [(ngModel)]="vest.naslov">
                        </td>
                    </tr>
                    <tr>
                        <td>Текст вести:</td>
                        <td>
                            <textarea [(ngModel)]="vest.tekst" rows="6" cols="50">
  
                            </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Датум вести:</td>
                        <td>
                            <input type="date" [(ngModel)]="datumUnos">
                        </td>
                    </tr>
                    <tr>
                        <td>Број фајлова за доадавање:</td> 
                        <td>
                            <input type="number" [(ngModel)]="brFajlova" min="0" (change)="brFajlovaUneseno()">
                        </td>
                    </tr>
                    <tr *ngFor="let f of nizZaIter; let i=index">
                        <td></td> 
                        <td>
                            <input type="file" (change)="fileChanged($event,i)" name="file">
                        </td>
                    </tr>
                    
                </table>
                <span style="color: red;">{{mssg}}</span> <br>
                <button type="button" class="btn bg-dark" (click)="dodaj()"><i class="fa fa-plus" aria-hidden="true"></i> Додај вест</button> <br>
                <br><br>
            </div>
        </div>       
    </div>
    <app-myfooter></app-myfooter>
</div>  