<div id="page-container">
    <app-myheader></app-myheader>
    <div id="content-wrap" >
        <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-1">
                <!--empty-->
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
				<app-partneri *ngIf="ulogovaniTip!='zaposleni'"></app-partneri>
                <app-meni-zaposleni *ngIf="ulogovaniTip=='zaposleni'"></app-meni-zaposleni>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 justify-content-center text-center">
                
                
                Одаберите студента чији налог желите да измените: <br>
                <select [(ngModel)]="selektovanStudentUsername">
                    <option value={{stud.username}} *ngFor="let stud of studentiNiz"> {{prevedi(stud.name)}} {{prevedi(stud.lastname)}}</option>
                </select>
                &nbsp;&nbsp;
                <button type="button" class="btn bg-dark" (click)="odaberiStudenta()">Одабери</button> <br>
                <br><br>
                <h4><b>Измена налога студента</b></h4>
                <br><br>
                <table>
                    <tr>
                        <td>
                            Корисничко име: *
                        </td>
                        <td>
                            <input type="text" required errormessage="Поље не сме бити празно" placeholder="piGGBBBB@student.etf.rs" [(ngModel)]="selektovanStudent.username">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Шифра: *
                        </td>
                        <td>
                            <input type="password" required errormessage="Поље не сме бити празно" [(ngModel)]="selektovanStudent.password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Индекс: *
                        </td>
                        <td>
                            <input type="text" required aria-errormessage="Поље не сме бити празно."  placeholder="ГГГГ/ББББ" [(ngModel)]="selektovanStudent.index">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Тип студија: *
                        </td>
                        <td>
                            <input type="radio" name="tipStudija" value="d" [(ngModel)]="selektovanStudent.study_type"> Основне 
                            <input type="radio" name="tipStudija" value="m" [(ngModel)]="selektovanStudent.study_type"> Мастер
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="radio" name="tipStudija" value="p" [(ngModel)]="selektovanStudent.study_type"> Докторске
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Име: *
                        </td>
                        <td>
                            <input type="text" required errormessage="Поље не сме бити празно" [(ngModel)]="selektovanStudent.name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Презиме: *
                        </td>
                        <td>
                            <input type="text" required errormessage="Поље не сме бити празно" [(ngModel)]="selektovanStudent.lastname">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Статус: *
                        </td>
                        <td>
                            <input type="radio" name="status" value="active" [(ngModel)]="selektovanStudent.status"> Активан 
                            <input type="radio" name="status" value="nonactive" [(ngModel)]="selektovanStudent.status"> Неактиван
                        </td>
                    </tr>
                </table>
                <br>
                <span style="color: red;">{{mssg}}</span> <br>
                <button type="button" class="btn bg-dark" (click)="izmeniStudenta()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Измени налог</button> <br>
                <br><br>
                <h4><b>Брисање налога студента</b></h4>
                <br>
                Приликом брисања налога студента обрисаћете све информације везане за тог студента. <br> <br>
                <span *ngIf="selected==true" style="color: red;">Кликом на дугме обрисаћете налог студента са корисничким именом  {{selektovanStudent.username}}</span> <br><br>
                <button type="button" class="btn bg-dark" (click)="obrisiStudenta()"><i class="fa fa-trash-o" aria-hidden="true"></i> Обриши налог</button> <br>
            </div>
        </div>       
    </div>
    <app-myfooter></app-myfooter>
</div>