<div id="page-container">
    <app-myheader></app-myheader>
    <div id="content-wrap" >
        <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-1">
                <!--empty-->
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
				<app-partneri *ngIf="ulogovaniTip!='zaposleni'"></app-partneri>
                <app-meni-zaposleni *ngIf="ulogovaniTip=='zaposleni'"></app-meni-zaposleni>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 justify-content-center text-center">
                <br>
                <b><h4>{{prevedi(zaposleni.name)}} {{prevedi(zaposleni.lastname)}}</h4></b>
                <br><br>
                <div class="justify-content-left text-left">
                   Е-пошта: {{zaposleni.username}}@student.etf.rs<br>
                   Звање: {{prevedi(zaposleni.title)}}<br>
                   Адреса: {{prevedi(zaposleni.address)}}<br>
                   Контакт: {{zaposleni.phone}}<br>
                   Канцеларија {{prevedi(zaposleni.office)}}<br>
                </div>
            </div>
        </div>       
    </div>
    <app-myfooter></app-myfooter>
</div>