<div id="page-container">
    <app-myheader></app-myheader>
    <div id="content-wrap" >
        <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-1">
                <!--empty-->
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
				<app-partneri *ngIf="ulogovaniTip!='zaposleni'"></app-partneri>
                <app-meni-zaposleni *ngIf="ulogovaniTip=='zaposleni'"></app-meni-zaposleni>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 justify-content-center text-center">
                <br> <h4>Пројекти запослених</h4> <br><br>
                <div class="justify-content-center text-center">
                    <ul>
                        <li>Пројекат за преквалификације у ИТ сектору - <a>проф. др Бошко Николић</a></li>
                        <li>Систем за праћење активности и рада на пројекту - <a>проф. др Бошко Николић</a></li>
                        <li>Софтвер за евиденцију матичних књига - <a>проф. др Славко Гајин</a></li>
                        <li>Пословно информациони системи - <a>проф. др Славко Гајин</a></li>
                        <li>Софтверско инжењерство и нове технологије у рачунарству -<a>доц. др Дражен Драшковић</a> </li>
                        <li>SEE-GRID-SCI-SEE-GRID eInfrastructure for regional eScience (SEE-GRID-SCI) FP 7 -  -<a>проф. др Захарије Радивојевић</a> </li>
                        <li>Набавка апликативног софтвера за прикупљање података у поступку акредитације факултета - <a>проф. др Јелица Протић</a></li>
                        <li>Information Security Services Education in Serbia - <a>проф. др Игор Тартаља</a></li>
                    </ul>
                </div>
            </div>
        </div>       
    </div>
    <app-myfooter></app-myfooter>
</div> 