.btn{
    color: white  !important;
}

.btn :hover{
    color: rgb(232, 181, 87) !important;
    background-color: grey !important;
}

a:hover {
    color:  rgb(252, 167, 10);
    transition-property: all;
    transition-duration: 0.3s ;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer
}

.greska{
    color: red;
}