<div id="page-container">
    <app-myheader></app-myheader>
    <div id="content-wrap" >
        <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-1">
                <!--empty-->
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
				<app-partneri *ngIf="ulogovaniTip!='zaposleni'"></app-partneri>
                <app-meni-zaposleni *ngIf="ulogovaniTip=='zaposleni'"></app-meni-zaposleni>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 justify-content-center text-center">
                <br>
                <h4>Одсек за СИ</h4>
                <br>
                <br>
                <br>
                <div >
                    <h5><b>Прва година</b> </h5> <br>
                    <h6>Први семестар</h6> 
                    <div *ngFor='let predm of sviPredmeti' >
                        <div *ngIf="predm.semestar==1">
                           <a (click)="preusmeri(predm.sifra)"> {{prevedi(predm.naziv)}}</a>
                        </div>
                    </div>
                    <br><h6>Други семестар</h6>
                    <div *ngFor='let predm of sviPredmeti'>
                        <div *ngIf="predm.semestar==2">
                            <a (click)="preusmeri(predm.sifra)"> {{prevedi(predm.naziv)}}</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <h5><b>Друга година</b> </h5> <br>
                    <h6>Трећи семестар</h6> 
                    <div *ngFor='let predm of sviPredmeti' >
                        <div *ngIf="predm.semestar==3">
                            <a (click)="preusmeri(predm.sifra)"> {{prevedi(predm.naziv)}}</a>
                        </div>
                    </div>
                    <br><h6>Четврти семестар</h6> 
                    <div *ngFor='let predm of sviPredmeti'>
                        <div *ngIf="predm.semestar==4">
                            <a (click)="preusmeri(predm.sifra)"> {{prevedi(predm.naziv)}}</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <h5><b>Трећа година </b></h5> <br>
                    <h6>Пети семестар</h6> 
                    <div *ngFor='let predm of sviPredmeti'>
                        <div *ngIf="predm.semestar==5">
                            <a (click)="preusmeri(predm.sifra)"> {{prevedi(predm.naziv)}}</a>
                        </div>
                    </div>
                    <br><h6>Шести семестар</h6> 
                    <div *ngFor='let predm of sviPredmeti'>
                        <div *ngIf="predm.semestar==6">
                            <a (click)="preusmeri(predm.sifra)"> {{prevedi(predm.naziv)}}</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <h5><b>Четврта година</b> </h5> <br>
                    <h6>Седми семестар</h6> 
                    <div *ngFor='let predm of sviPredmeti'>
                        <div *ngIf="predm.semestar==7">
                            <a (click)="preusmeri(predm.sifra)"> {{prevedi(predm.naziv)}}</a>
                        </div>
                    </div>
                    <br><h6>Осми семестар</h6> 
                    <div *ngFor='let predm of sviPredmeti' >
                        <div *ngIf="predm.semestar==8">
                            <a (click)="preusmeri(predm.sifra)"> {{prevedi(predm.naziv)}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <app-myfooter></app-myfooter>
</div>  