<br>
<h4>Партнери</h4>
<br>
<div class="card justify-content-center text-center" style="width: 15rem;">
    <img class="card-img-top" src="../../assets/images/nordeus.png" alt="Card image cap" style="height: 300px; width: auto;">
    <div class="card-body">
        <p class="card-text"><a href="http://www.nordeus.com" target="_blank" rel="noopener noreferrer">Нордеус</a> је српско предузеће које се бави развојем игара за друштвене мреже и мобилне телефоне, са главним представништвом у Београду.</p>
        
    </div>
</div>
<div class="card justify-content-center text-center" style="width: 15rem;">
    <img class="card-img-top" src="../../assets/images/rt_rk.png" alt="Card image cap" style="height: 300px; width: auto;">
    <div class="card-body">
        <p class="card-text"><a href="http://www.rt-rk.com" target="_blank" rel="noopener noreferrer">Рт-рк</a> је компанија за истраживање и развој и национални истраживачки институт који пружа развојне услуге и сопствене производе у арени уграђених система у реалном времену, са јаким фокусом на потрошачку електронику, комуникације и мултимедију.</p>
        
    </div>
</div>