<div class="text-left justify-content-left">
  <br><br>
  <ul  style="list-style-type: square;">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/mojProfil']" routerLinkActive="router-link-active" >Мој профил</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/mojiPredmeti']" routerLinkActive="router-link-active" >Моји предмети</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Вести</a>
      <ul  style="list-style-type: circle;">
        <li class="nav-item">
          <a class="nav-link" href="#">Додавање</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Измена</a>
        </li>        
      </ul>
    </li>
    
  </ul>

</div>