
        <header>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark navFont">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Brand -->
                <a class="navbar-brand" >
                    
                    <img class="logo" >
                    &nbsp; INFERNO GYM
                </a>
            
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <!-- Links -->
                    <ul class="navbar-nav  mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active justify-content-center">
                            <a class="nav-link">Početna</a>
                        </li>
                                    
                        <!-- Dropdown -->
                        <li class="nav-item dropdown justify-content-center">
                            <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                            Usluge
                            </a>
                            <div class="dropdown-menu justify-content-center bg-dark">
                            <a class="dropdown-item" >Treninzi</a>
                            <a class="dropdown-item" >Nutricionista</a>
                            <a class="dropdown-item">Masaže</a>
                            </div>
                        </li>
        
                        <li class="nav-item justify-content-center">
                            <a class="nav-link" >Zakazivanje treninga</a>
                        </li>
                        <li class="nav-item justify-content-center">
                            <a class="nav-link" >Moj nalog</a>
                        </li>
                        <li class="nav-item justify-content-center">
                            <a class="nav-link" >O nama</a>
                        </li>
                    </ul>
                    <div class="my-2 my-lg-0 languages" >
                                           
                    </div>
                </div>
            </nav>

            <section id="inner-headline" class="justify-content-left">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <h2 class="breadcrumbs">
                                <a><i class="fa fa-home" aria-hidden="true"></i> &nbsp; Dobro došli!</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </section>
        </header>