<div id="page-container">
    <app-myheader></app-myheader>
    <div id="content-wrap" >
        <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-1">
                <!--empty-->
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
				<app-partneri *ngIf="ulogovaniTip!='zaposleni'"></app-partneri>
                <app-meni-zaposleni *ngIf="ulogovaniTip=='zaposleni'"></app-meni-zaposleni>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 justify-content-center text-center">
                <br> <h4>Контакт</h4> <br>
                <br>
                <b>Шеф катедре</b>: <a  routerLink="/profil" (click)="preusmeri('jeca')">проф. др Јелица Протић</a> <br>
                <i class="fa fa-mobile" aria-hidden="true"></i>  011/3218-456<br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>  jeca@etf.bg.ac.rs <br><br>
                

                <b>Заменик</b>: <a  routerLink="/profil" (click)="preusmeri('tartalja')">проф. др Игор Тартаља</a> <br>
                <i class="fa fa-mobile" aria-hidden="true"></i>  011/3218-456<br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>  tartalja@etf.bg.ac.rs<br><br>

                <b>Секретар</b>: <a  routerLink="/profil" (click)="preusmeri('marko.misic')">доц. др Марко Мишић</a> <br>
                <i class="fa fa-mobile" aria-hidden="true"></i>  011/3218-392<br>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>  marko.misic@etf.bg.ac.rs<br><br>
            </div>
        </div>       
    </div>
    <app-myfooter></app-myfooter>
</div> 