<div id="page-container">
    <app-myheader></app-myheader>
    <div id="content-wrap" >
        
        <div class="row">
            <div class="col-sm-1 col-lg-1">

            </div>
            <div class="col-sm-3 col-lg-3 prijava justify-content-center text-center">
                <br>
                <h3>Пријавите се на свој налог</h3>
                <br>
                <table>
                    <tr>
                        <td>
                            Корисничко име:
                        </td>
                        <td>
                            <input type="text" required="yes" errormessage="Поље не сме бити празно">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Шифра:
                        </td>
                        <td>
                            <input type="password" required="yes" errormessage="Поље не сме бити празно">
                        </td>
                    </tr>
                </table>
                <br>
                <button class="btn bg-dark">Пријави се</button> <br>
                <span>
                    Немате налог? <a>Региструјте се.</a>
                </span>
                <hr>
            </div>
            <div class="col-sm-6 col-lg-6 centralPart">
                <div class="row" id="slide">
                    <img class="mySlides" src="{{'../../assets/images/slide' + slideNum + '.jpg'}}">            
                </div>
                <div class="row " id="info">
                    <br>
                    Катедре су наставно-научне јединице Факултета. Катедре се оснивају у функцији наставног и научног рада за једну или више сродних ужих научних области. Катедре обављају своје активности на свим врстама и нивоима студија, научно-истраживачке послове, као и остале активности из делатности Факултета. <br>
                    У саставу катедара се образују одговарајуће лабораторије у којима се изводе вежбе и практичан рад са студентима, врше истраживања, експертизе и друге услуге у складу са законом и општим актима Факултета. <br>
                    Катедра за рачунарску технику и информатику се бави едукацијом, научно-истраживачким и пројектантским радом у области рачунарског хардвера, софтвера и рачунарских мрежа.<br>
                    <br>
                    Чланови катедре су наставници, сарадници и истраживачи у научном звању који су у радном односу са пуним и непуним радним временом на Факултету и који обављају наставно-научни рад из истих или сродних ужих научних области. Сваки наставник, сарадник и истраживач је члан само једне факултетске катедре. <br>
                    Катедра :
                    <ul>
                        <li>предлаже програме предмета који су јој поверени;</li>
                        <li>предлаже покретање поступка за избор у звање и заснивање радног односа наставника и сарадника;</li>
                        <li>предлаже састав комисије за припрему извештаја за избор у звање и заснивање радног односа наставника и сарадника;</li>
                        <li>предлаже распоред наставника по предметима за сваки семестар;</li>
                        <li>предлаже ангажовање гостујућих професора, професора емеритуса и наставника других факултета;</li>
                        <li>даје мишљење о студијским програмима Факултета;</li>
                        <li>подноси извештај о реализацији наставе и испита Већу Факултета;</li>
                        <li>даје мишљење о програмима научних истраживања на Факултету;</li>
                        <li>даје мишљење о научним радовима и научним пројектима у којима учествују наставници и сарадници катедре;</li>
                        <li>стара се о редовном одвијању наставе, као и о њеној покривености уџбеницима и потребном литературом;</li>
                        <li>именује рецензенте уџбеника и других публикација Факултета и разматра и прихвата рецензије истих;</li>
                        <li>подноси предлоге и извештаје из делокруга свог рада на захтев Већа и декана;</li>
                        <li>даје мишљење о захтевима наставника и сарадника за одсуствима у трајању преко 30 дана;</li>
                        <li>обавља и друге послове који проистичу из делокруга катедре, односно у складу са овим Статутом и општим актима Факултета.</li>
                    </ul>
                    
                </div>
 
            </div>
            
        </div>

    </div>
    <app-myfooter></app-myfooter>
</div>



                   